@font-face {
  font-family: Bold;
  src: url(../fonts/Roboto_Condensed-Bold.ttf);
}
@font-face {
  font-family: Light;
  src: url(../fonts/Roboto_Condensed-Light.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../fonts/Roboto_Condensed-Regular.ttf);
}
@font-face {
  font-family: Thin;
  src: url(../fonts/Roboto_Condensed-Thin.ttf);
}
