/* footer */
.footer {
  background-color: #0000005d;
  backdrop-filter: blur(5px);
  position: sticky;
  bottom: 0%;
  left: 0%;
  right: 0%;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  padding: 1.25rem 0;

  .contact {
    h3 {
      color: #fff;
      margin: 1.25rem 0;
      font-size: 1.5rem;
    }

    .contactItem {
      text-decoration: none;
      font-size: 1.125rem;
      color: #fff;
      display: block;
      width: fit-content;
      margin: 0.625rem 0;
      transition: all 0.5s ease-in-out;

      i {
        margin-inline-start: 0.625rem;
      }

      &:hover {
        border-bottom: 1px solid #0389d1;
        color: #0389d1;
      }
    }
  }

  .socials {
    h3 {
      color: #fff;
      margin: 1.25rem 0;
      font-size: 1.5rem;
    }

    .socLink {
      text-decoration: none;
      font-size: 1.125rem;
      margin: 0.625rem 0;
      color: #fff;
      display: block;
      width: fit-content;
      transition: all 0.5s ease-in-out;

      i {
        margin-inline-end: 0.625rem;
      }
    }

    .facebook:hover {
      color: #004989;
    }

    .instagram:hover {
      color: #5b0089;
    }

    .youtube:hover {
      color: #ff0000;
    }

    .pinterest:hover {
      color: #b61d1d;
    }
  }

  .location {
    h3 {
      color: #fff;
      margin: 1.25rem 0;
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      font-size: 1.125rem;
      color: #fff;
      display: block;
      width: fit-content;
      margin: 0.625rem 0;
      transition: all 0.5s ease-in-out;

      i {
        margin-inline-start: 0.625rem;
      }

      &:hover {
        border-bottom: 1px solid #0389d1;
        color: #0389d1;
      }
    }
  }

  .copyright {
    border-top: 1px solid #fff;
    margin-top: 0.625rem;
    padding-top: 1.25rem;
    text-align: center;

    p {
      color: #fff;
      font-size: 0.8125rem;
    }
  }
}
