/* navbar */
.navbar {
  background-color: #00000046 !important;
  backdrop-filter: blur(10px);
  position: sticky;
  z-index: 111;
  top: 0%;

  .navbar-brand {
    img {
      width: 50%;
      margin: auto;
    }
  }

  .collapse {
    justify-content: center;
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-family: Bold !important;
          color: #fff;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #000;
            border-radius: 10px;
            margin: 0px 10px;
            letter-spacing: 2px;
          }
        }
      }
      .here {
        filter: drop-shadow(0 0 10px #fff);
        background-color: #000;
        border-radius: 10px;
        transform: scale(1.1);
        margin: 0px 10px;
      }
    }

    .searchInput {
      font-family: Bold !important;
      padding: 5px;
      outline: none;
      border: none;
      border-radius: 5px;
    }
  }
  .contact {
    margin: 0px 10px;
    p {
      padding: 0px !important;
      margin: 5px 0px;
      color: #fff;
    }
  }
}
