.products {
  padding: 20px 0px;
  justify-content: center;
  align-items: center;

  .prodCard {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    justify-content: center;

    .img {
      overflow: hidden;
      img {
        transition: all 0.3s ease-in-out;
      }
    }

    .details {
      padding: 5px 0px;
      h5,
      h6 {
        padding: 0px;
      }

      .title {
        text-align: start;
      }

      .price {
        text-align: end;
      }

      .category {
        text-align: start;
      }

      .tags {
        text-align: end;
      }

      .rating {
        text-align: start;
      }

      .stock {
        text-align: end;
      }

      .shipping {
        text-align: start;
      }
    }

    .btnDiv {
      justify-content: space-between;
      text-align: center;
      padding: 0px;

      .addBtn {
        padding: 5px 10px;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        a {
          text-decoration: none;
          color: #fff;
        }

        &:hover {
          filter: drop-shadow(0 0 10px #0cff2d);
          border: 1px solid #0cff2d;
        }
      }

      .detailsBtn {
        padding: 5px 10px;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        a {
          text-decoration: none;
          color: #fff;
        }

        &:hover {
          filter: drop-shadow(0 0 10px #00aeff);
          border: 1px solid #00aeff;
        }
      }

      .wishBtn {
        padding: 5px 10px;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        a {
          text-decoration: none;
          color: #fff;
        }

        &:hover {
          filter: drop-shadow(0 0 10px #fd004c);
          border: 1px solid #fd004c;
        }
      }

      .removeBtn {
        padding: 5px 10px;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        a {
          text-decoration: none;
          color: #fff;
        }

        &:hover {
          filter: drop-shadow(0 0 10px #fd0000);
          border: 1px solid #fd0000;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
