/* up btn */
.toTop {
  opacity: 0;
  background-color: #000;
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 111;
  transition: all 0.5s ease-in-out;
}
