@import url(../base/fonts.css);
@import url(../base/animations.css);
@import url(../base/loader.css);
@import url(../base/navbar.css);
@import url(../base/products.css);

/* global styles */
* {
  text-transform: capitalize !important;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

img {
  width: 100%;
}

body {
  color: #fff;
  text-align: center;
}

.checkout {
  margin: 20px 0px;
  text-align: center;
  .CheckoutBtn {
    padding: 5px 10px;
    border: 1px solid #fff;
    background-color: #040407d3;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    a {
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      filter: drop-shadow(0 0 10px #0cff2d);
      border: 1px solid #0cff2d;
    }
  }
}

.background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/cartBG.jpg);
  z-index: -1;
  filter: brightness(40%);
}
