@import url(../base/fonts.css);
@import url(../base/loader.css);
@import url(../base/navbar.css);
@import url(../base/footer.css);
@import url(../base/upBtn.css);


/* global styles */
* {
  text-transform: capitalize !important;
  box-sizing: border-box;
  font-family: Archivo-Regular;
}

:root {
  font-size: 16px;
}

img {
  width: 100%;
}

/* products */
.products {
  padding: 20px 0px;
  justify-content: center;
  align-items: center;

  .prodCard {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    justify-content: center;

    .img {
      overflow: hidden;
      img {
        transition: all 0.3s ease-in-out;
      }
    }

    .details {
      padding: 5px 0px;
      h5,
      h6 {
        padding: 0px;
      }

      .title {
        text-align: start;
      }

      .price {
        text-align: end;
      }

      .category {
        text-align: start;
      }

      .tags {
        text-align: end;
      }

      .rating {
        text-align: start;
      }

      .stock {
        text-align: end;
      }

      .shipping {
        text-align: start;
      }
    }

    .btnDiv {
      justify-content: space-between;
      padding: 0px;

      .addBtn {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #fff;
        color: #000;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          background-color: #48ff00;
          border: none;
          color: #fff;
          box-shadow: 0 0 10px #48ff00;
        }
      }

      .detailsBtn {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #fff;
        color: #000;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          background-color: #00aeff;
          border: none;
          color: #fff;
          box-shadow: 0 0 10px #00aeff;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

/* background */
.background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/homepageBG.jpg);
  z-index: -1;
  filter: brightness(40%);
}