@import url(../base/fonts.css);
@import url(../base/animations.css);
@import url(../base/loader.css);

/* global styles */
* {
  text-transform: capitalize !important;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

img {
  width: 100%;
}

.vidContainer {
  padding: 5px;
  text-align: center;
  width: fit-content;
  margin: 20px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h4 {
    background-color: #000;
    color: #fff;
    font-family: Bold;
    margin: 0px;
  }
}

/* background */
.background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/ordersBG.jpg);
  z-index: -1;
  filter: brightness(60%);
}
