@import url(../base/fonts.css);
@import url(../base/animations.css);
@import url(../base/loader.css);
@import url(../base/navbar.css);
@import url(../base/fixedTexts.css);

/* global styles */
* {
  text-transform: capitalize !important;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

img {
  width: 100%;
}

body {
  color: #fff;
  text-align: center;
}

.productsContainer {
  margin: 20px 0px;
  background-color: #000000a9;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  filter: drop-shadow(0 0 10px #000);
  padding: 10px;
  justify-content: start;

  .prodDetails {
    justify-content: center;
    align-items: center;
    font-family: Regular;

    .details {
      text-align: start !important;
      .title {
        padding: 0 !important;
        margin-bottom: 10px;
        font-family: Bold;
      }
      .brand {
        padding: 0 !important;
        margin-bottom: 10px;
      }
      p {
        padding: 0px !important;
        margin-bottom: 10px;
      }
      .btnDiv {
        text-align: center;
        .addBtn {
          font-family: Bold;
          border: 1px solid #fff;
          border-radius: 10px;
          padding: 5px 10px;
          background-color: #000000a9;
          color: #fff;
          transition: all 0.3s ease-in-out;
          &:hover {
            filter: drop-shadow(0 0 10px #0cff2d);
            border: 1px solid #0cff2d;
            color: #0cff2d;
          }
        }
      }
    }
  }

  .reviewsConatiner {
    margin-top: 20px;
    padding: 0px 20px;
    justify-content: start;
    .reviewHeader {
      font-family: Bold;
      text-align: start;
      padding: 0px !important;
      margin-bottom: 10px;
    }

    .reviews {
      list-style: none;
      padding: 0px !important;
      width: fit-content;

      .reviewItem {
        font-family: thin;
        text-align: start;
        margin-bottom: 10px;
      }
    }
  }
}

.background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/pexels-apasaric-3423860.jpg);
  z-index: -1;
  filter: brightness(40%);
}
